@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #1E3A8A;
    --color-secondary: #F97316;
    --font-sans: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}